/**
 * _layout.scss
 * 
 * Layout specific styles
 *
 * @author Johanens Braun <me@hannenz.de>
 * @package hannenz
 * @version 2014-02
*/
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html, body {
	width:100%;
	height:100%;
}

.main-header,
.wrapper {
	@include outer-container();
}

.content {
	@include span-columns(8);
	min-height:1000px;
}
.sidebar {
	@include span-columns(4);
}

.works .content {
	@include span-columns(12);
	@include omega();
}